<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        [v-cloak] {
            display: none;
        }
        input {
            margin: 2px;
            display: block;
        }
    </style>
    <div id="app" v-cloak>
        <div class="login-form">
            <login-form/>
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app = Vue.createApp({
            data() {
                return {
                    greeting : 'hello there..',
                    flag : true,
                }
            },
            methods : {
                    operateCss : function() {
                    this.flag = !this.flag;
                    this.counter++;
                }
            }
        });
        
        app.component('login-form', {
            template:`
            <div>
                <form @submit.prevent.stop="formSubmit">
                    <h3>{{ form.title }}</h3>
                    <custom-input v-model="form.email" v-bind:label="form.emailLabel"/>
                    <custom-input v-model="form.password" v-bind:label="form.passwordLabel"/>
                    <button>Log In</button>
                </form>
            </div>    
            `,
            components:['custom-input'],
            data() {
                return {
                    form : {
                        title : 'Login Form',
                        emailLabel : 'Email',
                        passwordLabel : 'Password',
                        email : 'a',
                        password : 'f'
                    }
                }
            },
            methods: {
                formSubmit() {
                    console.log('submitted', this.form);
                }
            }
        });
        app.component('custom-input', {
            template:`
                <label>
                    {{ label }}
                    <input type="text" v-model="inputValue">
                </label>
            `,
            props:['label','modelValue'],
            computed : {
                inputValue : {
                    get() {
                        return this.modelValue;
                    },
                    set(value) {
                        this.$emit('update:modelValue', value);
                    }
                }
            }
        });
        app.mount('#app');
    </script>
</body>
</html>