<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        [v-cloak] {
            display: none;
        }
        input {
            margin: 2px;
            display: block;
        }
    </style>
    <div id="app" v-cloak>
        <div class="login-form">
            <login-form/>
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app = Vue.createApp({
            data() {
                return {
                    greeting : 'hello there..',
                    flag : true,
                }
            },
            methods : {
                    operateCss : function() {
                    this.flag = !this.flag;
                    this.counter++;
                }
            }
        });
        
        app.component('login-form', {
            template:`
            <div>
                <form @submit.prevent.stop="formSubmit">
                    <h3>{{ form.title }}</h3>
                    <custom-input 
                    v-for="(input,i) in inputs" :key="i" 
                    v-model="input.value" 
                    :label="input.label"
                    :type="input.type"
                    />
                    <button>Log In</button>
                </form>
            </div>    
            `,
            components:['custom-input'],
            data() {
                return {
                    inputs:[
                        {
                            label : 'email',
                            value : '',
                            type : 'email'
                        },
                        {
                            label : 'password',
                            value : '',
                            type : 'password'
                        }
                    ],
                    form : {
                        title : 'Login Form'
                    }
                }
            },
            methods: {
                formSubmit() {
                    console.log('submitted', this.inputs);
                }
            }
        });
        app.component('custom-input', {
            template:`
                <label>
                    {{ label }}
                    <input :type="type" v-model="inputValue">
                </label>
            `,
            props:['label','modelValue', 'type'],
            computed : {
                inputValue : {
                    get() {
                        return this.modelValue;
                    },
                    set(value) {
                        this.$emit('update:modelValue', value);
                    }
                }
            }
        });
        app.mount('#app');
    </script>
</body>
</html>